<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../../js/lib/config.js"></script>
    <script>
        g.initDemo();
    </script>
</head>
<body>
<script type="text/html" id='test1'>
        ie8+
                rem
        html{
            font-size:62.5%;
        }
</script>


<script>
    Demo.writeExample([
        {
            name:'test1',
            html:$('#test1').html(),
            demoPage:'demo/demo-em.html'
        }
    ]);

</script>

</body>
</html>