<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../../js/lib/config.js"></script>
    <script>
        g.initDemo();
    </script>
</head>
<body>
<script type="text/javascript" id='test1'>

    支付宝-体验技术部	alipay-x@list.alibaba-inc.com	体验技术部成员
    支付宝-所有前端	alipay-fe-all@list.alibaba-inc.com	含我们、董超、元则、左契
    大阿里-所有前端	ali-fe-all@list.alibaba-inc.com	含阿里巴巴、小微金服、菜鸟物流三大集团的绝大部分前端
    fe@list.alibaba-inc.com   这个邮件列表所有前端都能收到了

    创新终端技术部-前端技术组‍  <alipay-sh-wd@list.alibaba-inc.com>‍
    
    18668098188  111111 支付宝钱包测试账号

    http://openhome.stable.alipay.net/index.htm
    开放平台appid申请 ： apigs3@alitest.com/111111

    webapp容器支持人员表
    人员	功能
    左契、双十	AlipayJSBridge API
    轩与	AMUI
    任飞	IOS开发
    徐熙	Android开发
    xiajikaluli	webview容器测试
    {"launchParams":{"url":"/www/index.htm"}}


    服务窗stable dev环境
    邮箱号/手机号：shuziwulin@alitest.com
    证件号码：542600196512161818
    用户名：shuziwulin
    账户类型：公司用户
    数据环境：稳定环境
    密码：111111

    stable环境地址：http://publichome.stable.alipay.net/
    test环境地址：https://publichome.test.alipay.net
    线上环境：https://fuwu.alipay.com

    钱包test环境
    http://mwalletmng.stable.alipay.net/
    http://mwalletmng.test.alipay.net/
    liufan@alitest.com/111111
    rpc: http://mobilegw-1-64.test.alipay.net/mgw.htm

    钱包账号：
    执行结果：创建T成功
    用户邮箱/手机：human@alitest.com
    身份证号：610822199010300071
    用户名：guihaitaigong
    用户类型：个人用户
    数据环境：稳定环境
    密码：111111
    用户ID：2088102140633772

    执行结果：创建T成功
    用户邮箱/手机：humantest@alitest.com
    身份证号：62050019831025644X
    用户名：shuinangong
    用户类型：个人用户
    数据环境：测试环境
    密码：111111
    用户ID：2088102113490096


    dev服务公众号
    邮箱号/手机号：lirenshanghu@alitest.com
    证件号码：653100196805110132
    用户名：lirenshanghu
    账户类型：公司用户
    数据环境：稳定环境
    密码：111111

    钱包dev邀请码：G10YfEmlBkUY
    钱包线上邀请码：SwIByrTLK78l

    淘宝日常环境账号
    账号：丽人测试Ｔ账户
    ｔａｏｂａｏ１２３４
</script>


<script>
    Demo.writeExample([
        {
            name:'mail list',
            html:$('#test1').html()
        }
    ]);

</script>

</body>
</html>