<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../../js/lib/config.js"></script>
    <script>
        g.initDemo();
    </script>
</head>
<body>
<script type="text/javascript" id='test1'>
    zone=GZ00A
    zmode=false
    targetserver=dev-1-1
    maven=dev
    domainname=stable.alipay.net
    dbmode=dev

</script>


<script>
    Demo.writeExample([
        {
            name:'server.conf',
            html:$('#test1').html(),
        }
    ]);

</script>

</body>
</html>