<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=0.5,maximum-scale=0.5,minimum-scale=0.5,user-scalable=no"/>
    <!--<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>-->
    <style>
        body{
            margin:0;
        }
        .header{
            border:1px solid red;
            height:10px;
            width:640px;
        }
        .header2{
            border:1px solid green;
            height:10px;
            width:320px;
        }
    </style>
</head>

<body>
<div class="header"></div>

<div class="header2"></div>
</body>
</html>