<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link charset="utf-8" rel="stylesheet" href="reset.css" media="all" />
    <title></title>
</head>
<body>
<p style="font-size:1em;margin-left:1em;">font-size:1em</p>
<p style="font-size:100%;margin-left:1em;">font-size:100%</p>
<p style="font-size:20px;margin-left:1em;">font-size:20px</p>
<p style="font-size:125%;margin-left:1em;">font-size:125%</p>
<h1>h1</h1>
<h2>h2</h2>
<h3>h3</h3>
<h4>h4</h4>
<h5>h5</h5>
<h6>h6</h6>
<h7>h7</h7>
<p>p</p>

<ul>
    <li>li</li>
    <li>li</li>
</ul>

<button>button</button>
<a>a</a>
<input type="text" />

<table>
    <thead>
        <tr>
            <th>th1</th>
            <th>th2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>td</td>
            <td>td</td>
        </tr>
    </tbody>
</table>
<hr>
<br />
<img src="head.jpg" />
<form>
    <input type="text" />
</form>
<dl>
    <dt>dt</dt>
    <dd>dd</dd>
    <dd>dd</dd>
</dl>

<label>label</label>
<pre>
    this is
    pre
hehe
</pre>
<select>
    <option name="a" value="a">a</option>
    <option name="b" value="b">b</option>
</select>

<textarea>
    text area
</textarea>
</body>
</html>