<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table id="wp-table-reloaded-id-5-no-1" border="1px" style="border:1px solid black" class="wp-table-reloaded wp-table-reloaded-id-5" cellspacing="0" cellpadding="0">
<thead>
<tr class="row-1 odd">
    <th class="column-1">Device Name</th><th class="column-2">Platform</th><th class="column-3">Pixel Density</th><th class="column-4">Screen Size</th><th class="column-5">Portrait Viewport Width</th><th class="column-6">Landscape Viewport Width</th>
</tr>
</thead>
<tbody>
<tr class="row-2 even">
    <td class="column-1">Acer Iconia Tab A100</td><td class="column-2">Android</td><td class="column-3">166dpi</td><td class="column-4">7"</td><td class="column-5">800</td><td class="column-6">1280</td>
</tr>
<tr class="row-3 odd">
    <td class="column-1">Acer Iconia Tab A101</td><td class="column-2">Android</td><td class="column-3">170dpi</td><td class="column-4">7"</td><td class="column-5">600</td><td class="column-6">1024</td>
</tr>
<tr class="row-4 even">
    <td class="column-1">Acer Iconia Tab A200</td><td class="column-2">Android</td><td class="column-3">160dpi</td><td class="column-4">10.1"</td><td class="column-5">800</td><td class="column-6">1280</td>
</tr>
<tr class="row-5 odd">
    <td class="column-1">Acer Iconia Tab A500</td><td class="column-2">Android</td><td class="column-3">149dpi</td><td class="column-4">10.1"</td><td class="column-5">648</td><td class="column-6">1280</td>
</tr>
<tr class="row-6 even">
    <td class="column-1">Acer Iconia Tab A502</td><td class="column-2">Android</td><td class="column-3">149dpi</td><td class="column-4">10.1"</td><td class="column-5">800</td><td class="column-6">1280</td>
</tr>
<tr class="row-7 odd">
    <td class="column-1">Ainol Novo 7 Elf 2</td><td class="column-2">Android</td><td class="column-3">170dpi</td><td class="column-4">7"</td><td class="column-5">496</td><td class="column-6">1024</td>
</tr>
<tr class="row-8 even">
    <td class="column-1">Apple iPad</td><td class="column-2">iOS</td><td class="column-3">132dpi</td><td class="column-4">9.7"</td><td class="column-5">768</td><td class="column-6">1024</td>
</tr>
<tr class="row-9 odd">
    <td class="column-1">Apple iPad 2</td><td class="column-2">iOS</td><td class="column-3">132dpi</td><td class="column-4">9.7"</td><td class="column-5">768</td><td class="column-6">1024</td>
</tr>
<tr class="row-10 even">
    <td class="column-1">Apple iPad 3 (and 4)</td><td class="column-2">iOS</td><td class="column-3">264dpi</td><td class="column-4">9.7"</td><td class="column-5">768</td><td class="column-6">1024</td>
</tr>
<tr class="row-11 odd">
    <td class="column-1">Apple iPad Mini</td><td class="column-2">iOS</td><td class="column-3">163dpi</td><td class="column-4">7.9"</td><td class="column-5">768</td><td class="column-6">1024</td>
</tr>
<tr class="row-12 even">
    <td class="column-1">Apple iPhone 3G</td><td class="column-2">iOS</td><td class="column-3">163dpi</td><td class="column-4">3.5"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-13 odd">
    <td class="column-1">Apple iPhone 3GS</td><td class="column-2">iOS</td><td class="column-3">163dpi</td><td class="column-4">3.5"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-14 even">
    <td class="column-1">Apple iPhone 4</td><td class="column-2">iOS</td><td class="column-3">326dpi</td><td class="column-4">3.5"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-15 odd">
    <td class="column-1">Apple iPhone 4S</td><td class="column-2">iOS</td><td class="column-3">326dpi</td><td class="column-4">3.5"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-16 even">
    <td class="column-1">Apple iPhone 5</td><td class="column-2">iOS</td><td class="column-3">326dpi</td><td class="column-4">4"</td><td class="column-5">320</td><td class="column-6">568</td>
</tr>
<tr class="row-17 odd">
    <td class="column-1">Apple iPod Touch</td><td class="column-2">iOS</td><td class="column-3">163dpi</td><td class="column-4">3.5"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-18 even">
    <td class="column-1">Archos 70b (it2)</td><td class="column-2">Android</td><td class="column-3">??</td><td class="column-4">7"</td><td class="column-5">600</td><td class="column-6">1024</td>
</tr>
<tr class="row-19 odd">
    <td class="column-1">Archos 80G9</td><td class="column-2">Android</td><td class="column-3">160dpi</td><td class="column-4">8"</td><td class="column-5">768</td><td class="column-6">1024</td>
</tr>
<tr class="row-20 even">
    <td class="column-1">Arnova 7 G2</td><td class="column-2">Android</td><td class="column-3">??</td><td class="column-4">7"</td><td class="column-5">480</td><td class="column-6">800</td>
</tr>
<tr class="row-21 odd">
    <td class="column-1">Arnova 7FG3</td><td class="column-2">Android</td><td class="column-3">??</td><td class="column-4">7"</td><td class="column-5">640</td><td class="column-6">1067</td>
</tr>
<tr class="row-22 even">
    <td class="column-1">Arnova 8C G3</td><td class="column-2">Android</td><td class="column-3">125dpi</td><td class="column-4">8"</td><td class="column-5">800</td><td class="column-6">1067</td>
</tr>
<tr class="row-23 odd">
    <td class="column-1">Arnova 10b G3</td><td class="column-2">Android</td><td class="column-3">160dpi</td><td class="column-4">10.1"</td><td class="column-5">600</td><td class="column-6">1024</td>
</tr>
<tr class="row-24 even">
    <td class="column-1">ASUS Padfone</td><td class="column-2">Android</td><td class="column-3">??</td><td class="column-4">4.3"</td><td class="column-5">800</td><td class="column-6">1128</td>
</tr>
<tr class="row-25 odd">
    <td class="column-1">ASUS Transformer Pad TF300T</td><td class="column-2">Android</td><td class="column-3">??</td><td class="column-4">10.1"</td><td class="column-5">800</td><td class="column-6">1280</td>
</tr>
<tr class="row-26 even">
    <td class="column-1">ASUS Transformer TF101</td><td class="column-2">Android</td><td class="column-3">149dpi</td><td class="column-4">10.1"</td><td class="column-5">800</td><td class="column-6">1280</td>
</tr>
<tr class="row-27 odd">
    <td class="column-1">BAUHN AMID-972XS</td><td class="column-2">Android</td><td class="column-3">??</td><td class="column-4">9.7"</td><td class="column-5">768</td><td class="column-6">1024</td>
</tr>
<tr class="row-28 even">
    <td class="column-1">BlackBerry 9520</td><td class="column-2">Blackberry OS</td><td class="column-3">185dpi</td><td class="column-4">3.25"</td><td class="column-5">345</td><td class="column-6">691</td>
</tr>
<tr class="row-29 odd">
    <td class="column-1">BlackBerry Bold 9360</td><td class="column-2">Blackberry OS</td><td class="column-3">246dpi</td><td class="column-4">2.44"</td><td class="column-5">320</td><td class="column-6">N/A</td>
</tr>
<tr class="row-30 even">
    <td class="column-1">BlackBerry Bold 9780</td><td class="column-2">Blackberry OS</td><td class="column-3">246dpi</td><td class="column-4">2.44"</td><td class="column-5">480</td><td class="column-6">N/A</td>
</tr>
<tr class="row-31 odd">
    <td class="column-1">BlackBerry Bold 9790</td><td class="column-2">Blackberry OS</td><td class="column-3">246dpi</td><td class="column-4">2.45"</td><td class="column-5">320</td><td class="column-6">N/A</td>
</tr>
<tr class="row-32 even">
    <td class="column-1">BlackBerry Bold 9900</td><td class="column-2">Blackberry OS</td><td class="column-3">287dpi</td><td class="column-4">2.8"</td><td class="column-5">356</td><td class="column-6">N/A</td>
</tr>
<tr class="row-33 odd">
    <td class="column-1">BlackBerry Curve 9300</td><td class="column-2">Blackberry OS</td><td class="column-3">246dpi</td><td class="column-4">2.45"</td><td class="column-5">311</td><td class="column-6">N/A</td>
</tr>
<tr class="row-34 even">
    <td class="column-1">BlackBerry Curve 9320</td><td class="column-2">Blackberry OS</td><td class="column-3">164dpi</td><td class="column-4">2.44"</td><td class="column-5">320</td><td class="column-6">N/A</td>
</tr>
<tr class="row-35 odd">
    <td class="column-1">BlackBerry Curve 9380</td><td class="column-2">Blackberry OS</td><td class="column-3">188dpi</td><td class="column-4">3.2"</td><td class="column-5">320</td><td class="column-6">N/A</td>
</tr>
<tr class="row-36 even">
    <td class="column-1">BlackBerry PlayBook</td><td class="column-2">Blackberry Tablet OS</td><td class="column-3">169dpi</td><td class="column-4">7"</td><td class="column-5">600</td><td class="column-6">1024</td>
</tr>
<tr class="row-37 odd">
    <td class="column-1">BlackBerry Torch 9800</td><td class="column-2">Blackberry OS</td><td class="column-3">187.5dpi</td><td class="column-4">3.2"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-38 even">
    <td class="column-1">BlackBerry Torch 9810</td><td class="column-2">Blackberry OS</td><td class="column-3">250dpi</td><td class="column-4">3.2"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-39 odd">
    <td class="column-1">BlackBerry Z10</td><td class="column-2">Blackberry OS10</td><td class="column-3">355dpi</td><td class="column-4">4.2"</td><td class="column-5">345</td><td class="column-6">521</td>
</tr>
<tr class="row-40 even">
    <td class="column-1">Google Nexus 5</td><td class="column-2">Android</td><td class="column-3">445dpi</td><td class="column-4">4.95"</td><td class="column-5">360</td><td class="column-6">598</td>
</tr>
<tr class="row-41 odd">
    <td class="column-1">HP Touchpad</td><td class="column-2">Android</td><td class="column-3">132dpi</td><td class="column-4">9.7"</td><td class="column-5">768</td><td class="column-6">1024</td>
</tr>
<tr class="row-42 even">
    <td class="column-1">HP Veer</td><td class="column-2">WebOS</td><td class="column-3">197dpi</td><td class="column-4">2.6"</td><td class="column-5">320</td><td class="column-6">545</td>
</tr>
<tr class="row-43 odd">
    <td class="column-1">HTC 7 Mozart</td><td class="column-2">Windows Phone 7</td><td class="column-3">252dpi</td><td class="column-4">3.7"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-44 even">
    <td class="column-1">HTC 7 Trophy</td><td class="column-2">Windows Phone 7</td><td class="column-3">245dpi</td><td class="column-4">3.8"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-45 odd">
    <td class="column-1">HTC Desire</td><td class="column-2">Android</td><td class="column-3">252dpi</td><td class="column-4">3.7"</td><td class="column-5">320</td><td class="column-6">533</td>
</tr>
<tr class="row-46 even">
    <td class="column-1">HTC Desire C</td><td class="column-2">Android</td><td class="column-3">164dpi</td><td class="column-4">3.5"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-47 odd">
    <td class="column-1">HTC Desire HD</td><td class="column-2">Android</td><td class="column-3">216dpi</td><td class="column-4">4.3"</td><td class="column-5">320</td><td class="column-6">533</td>
</tr>
<tr class="row-48 even">
    <td class="column-1">HTC Desire Z</td><td class="column-2">Android</td><td class="column-3">252dpi</td><td class="column-4">3.7"</td><td class="column-5">480</td><td class="column-6">800</td>
</tr>
<tr class="row-49 odd">
    <td class="column-1">HTC Evo 3D</td><td class="column-2">Android</td><td class="column-3">256dpi</td><td class="column-4">4.3"</td><td class="column-5">540</td><td class="column-6">960</td>
</tr>
<tr class="row-50 even">
    <td class="column-1">HTC Legend</td><td class="column-2">Android</td><td class="column-3">??</td><td class="column-4">3.2"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-51 odd">
    <td class="column-1">HTC One S</td><td class="column-2">Android</td><td class="column-3">256dpi</td><td class="column-4">4.3"</td><td class="column-5">360</td><td class="column-6">640</td>
</tr>
<tr class="row-52 even">
    <td class="column-1">HTC One V</td><td class="column-2">Android</td><td class="column-3">252dpi</td><td class="column-4">3.7"</td><td class="column-5">320</td><td class="column-6">533</td>
</tr>
<tr class="row-53 odd">
    <td class="column-1">HTC One XL</td><td class="column-2">Android</td><td class="column-3">260dpi</td><td class="column-4">4.7"</td><td class="column-5">360</td><td class="column-6">640</td>
</tr>
<tr class="row-54 even">
    <td class="column-1">HTC Sensation XL</td><td class="column-2">Android</td><td class="column-3">198.5dpi</td><td class="column-4">4.7"</td><td class="column-5">360</td><td class="column-6">640</td>
</tr>
<tr class="row-55 odd">
    <td class="column-1">HTC Titan 4G</td><td class="column-2">Windows Phone 7</td><td class="column-3">198.5dpi</td><td class="column-4">4.7"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-56 even">
    <td class="column-1">HTC Velocity 4G</td><td class="column-2">Android</td><td class="column-3">245dpi</td><td class="column-4">4.5"</td><td class="column-5">360</td><td class="column-6">640</td>
</tr>
<tr class="row-57 odd">
    <td class="column-1">HTC Wildfire S</td><td class="column-2">Android</td><td class="column-3">180dpi</td><td class="column-4">3.2"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-58 even">
    <td class="column-1">HTC Windows Phone 8X</td><td class="column-2">Windows Phone 8</td><td class="column-3">341dpi</td><td class="column-4">4.3"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-59 odd">
    <td class="column-1">Huawei U8650</td><td class="column-2">Android</td><td class="column-3">165dpi</td><td class="column-4">3.5"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-60 even">
    <td class="column-1">Kindle 3</td><td class="column-2">Kindle</td><td class="column-3">167dpi</td><td class="column-4">6"</td><td class="column-5">600</td><td class="column-6">N/A</td>
</tr>
<tr class="row-61 odd">
    <td class="column-1">Kindle Fire HD 7</td><td class="column-2">Android</td><td class="column-3">216dpi</td><td class="column-4">7"</td><td class="column-5">533</td><td class="column-6">801</td>
</tr>
<tr class="row-62 even">
    <td class="column-1">Kindle Fire HD 8.9</td><td class="column-2">Android</td><td class="column-3">254dpi</td><td class="column-4">8.9"</td><td class="column-5">533</td><td class="column-6">801</td>
</tr>
<tr class="row-63 odd">
    <td class="column-1">Kindle Fire HDX 7"</td><td class="column-2">Android</td><td class="column-3">323dpi</td><td class="column-4">7"</td><td class="column-5">600</td><td class="column-6">902</td>
</tr>
<tr class="row-64 even">
    <td class="column-1">Kindle Paperwhite</td><td class="column-2">Kindle</td><td class="column-3">212dpi</td><td class="column-4">6"</td><td class="column-5">758</td><td class="column-6">N/A</td>
</tr>
<tr class="row-65 odd">
    <td class="column-1">Kobo eReader Touch</td><td class="column-2">Android</td><td class="column-3">N/A (E Ink)</td><td class="column-4">6"</td><td class="column-5">600</td><td class="column-6">N/A</td>
</tr>
<tr class="row-66 even">
    <td class="column-1">LG Optimus 2X</td><td class="column-2">Android</td><td class="column-3">233dpi</td><td class="column-4">4"</td><td class="column-5">320</td><td class="column-6">533</td>
</tr>
<tr class="row-67 odd">
    <td class="column-1">LG Optimus L3</td><td class="column-2">Android</td><td class="column-3">125dpi</td><td class="column-4">3.2"</td><td class="column-5">320</td><td class="column-6">427</td>
</tr>
<tr class="row-68 even">
    <td class="column-1">LG Optimus Pad</td><td class="column-2">Android</td><td class="column-3">168dpi</td><td class="column-4">8.9"</td><td class="column-5">768</td><td class="column-6">1280</td>
</tr>
<tr class="row-69 odd">
    <td class="column-1">LG Viewty KU990</td><td class="column-2">Java</td><td class="column-3">155dpi</td><td class="column-4">3"</td><td class="column-5">240</td><td class="column-6">400</td>
</tr>
<tr class="row-70 even">
    <td class="column-1">Microsoft Surface (RT)</td><td class="column-2">Windows RT</td><td class="column-3">148dpi</td><td class="column-4">10.6"</td><td class="column-5">768</td><td class="column-6">1366</td>
</tr>
<tr class="row-71 odd">
    <td class="column-1">Motorola Defy</td><td class="column-2">Android</td><td class="column-3">265dpi</td><td class="column-4">3.7"</td><td class="column-5">320</td><td class="column-6">569</td>
</tr>
<tr class="row-72 even">
    <td class="column-1">Motorola Droid3</td><td class="column-2">Android</td><td class="column-3">275dpi</td><td class="column-4">4"</td><td class="column-5">360</td><td class="column-6">599</td>
</tr>
<tr class="row-73 odd">
    <td class="column-1">Motorola Droid Razr</td><td class="column-2">Android</td><td class="column-3">256dpi</td><td class="column-4">4.3"</td><td class="column-5">360</td><td class="column-6">640</td>
</tr>
<tr class="row-74 even">
    <td class="column-1">Motorola Milestone</td><td class="column-2">Android</td><td class="column-3">265dpi</td><td class="column-4">3.7"</td><td class="column-5">320</td><td class="column-6">569</td>
</tr>
<tr class="row-75 odd">
    <td class="column-1">Motorola Razr HD 4G</td><td class="column-2">Android</td><td class="column-3">312dpi</td><td class="column-4">4.7"</td><td class="column-5">360</td><td class="column-6">598</td>
</tr>
<tr class="row-76 even">
    <td class="column-1">Motorola Razr M 4G</td><td class="column-2">Android</td><td class="column-3">312dpi</td><td class="column-4">4.7"</td><td class="column-5">360</td><td class="column-6">598</td>
</tr>
<tr class="row-77 odd">
    <td class="column-1">Motorola Xoom</td><td class="column-2">Android</td><td class="column-3">149dpi</td><td class="column-4">10.1"</td><td class="column-5">800</td><td class="column-6">1280</td>
</tr>
<tr class="row-78 even">
    <td class="column-1">Motorola Xoom 2</td><td class="column-2">Android</td><td class="column-3">149dpi</td><td class="column-4">10.1"</td><td class="column-5">800</td><td class="column-6">1280</td>
</tr>
<tr class="row-79 odd">
    <td class="column-1">Nexus 4</td><td class="column-2">Android</td><td class="column-3">318dpi</td><td class="column-4">4.7"</td><td class="column-5">384</td><td class="column-6">598</td>
</tr>
<tr class="row-80 even">
    <td class="column-1">Nexus 7</td><td class="column-2">Android</td><td class="column-3">216dpi</td><td class="column-4">7"</td><td class="column-5">603</td><td class="column-6">966</td>
</tr>
<tr class="row-81 odd">
    <td class="column-1">Nexus S</td><td class="column-2">Android</td><td class="column-3">233dpi</td><td class="column-4">4"</td><td class="column-5">320</td><td class="column-6">533</td>
</tr>
<tr class="row-82 even">
    <td class="column-1">Nokia 300</td><td class="column-2">Nokia</td><td class="column-3">167dpi</td><td class="column-4">2.4"</td><td class="column-5">234</td><td class="column-6">N/A</td>
</tr>
<tr class="row-83 odd">
    <td class="column-1">Nokia 500</td><td class="column-2">Symbian</td><td class="column-3">229dpi</td><td class="column-4">3.2"</td><td class="column-5">360</td><td class="column-6">640</td>
</tr>
<tr class="row-84 even">
    <td class="column-1">Nokia 700</td><td class="column-2">Symbian</td><td class="column-3">229dpi</td><td class="column-4">3.2"</td><td class="column-5">240</td><td class="column-6">427</td>
</tr>
<tr class="row-85 odd">
    <td class="column-1">Nokia 2700</td><td class="column-2">S40</td><td class="column-3">200dpi</td><td class="column-4">2"</td><td class="column-5">240</td><td class="column-6">N/A</td>
</tr>
<tr class="row-86 even">
    <td class="column-1">Nokia Lumia 520</td><td class="column-2">Windows Phone 8</td><td class="column-3">233dpi</td><td class="column-4">4"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-87 odd">
    <td class="column-1">Nokia Lumia 610</td><td class="column-2">Windows Phone 7</td><td class="column-3">252dpi</td><td class="column-4">3.7"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-88 even">
    <td class="column-1">Nokia Lumia 710</td><td class="column-2">Windows Phone 7</td><td class="column-3">252dpi</td><td class="column-4">3.7"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-89 odd">
    <td class="column-1">Nokia Lumia 800</td><td class="column-2">Windows Phone 7</td><td class="column-3">252dpi</td><td class="column-4">3.7"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-90 even">
    <td class="column-1">Nokia Lumia 820</td><td class="column-2">Windows Phone 8</td><td class="column-3">217dpi</td><td class="column-4">4.3"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-91 odd">
    <td class="column-1">Nokia Lumia 900</td><td class="column-2">Windows Phone 7</td><td class="column-3">217dpi</td><td class="column-4">4.3"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-92 even">
    <td class="column-1">Nokia Lumia 920</td><td class="column-2">Windows Phone 8</td><td class="column-3">332dpi</td><td class="column-4">4.5"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-93 odd">
    <td class="column-1">Nokia Lumia 1020</td><td class="column-2">Windows Phone 8</td><td class="column-3">332dpi</td><td class="column-4">4.5"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-94 even">
    <td class="column-1">Nokia Lumia 1520</td><td class="column-2">Windows Phone 8</td><td class="column-3">367dpi</td><td class="column-4">6"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-95 odd">
    <td class="column-1">Nokia N95</td><td class="column-2">S60</td><td class="column-3">154dpi</td><td class="column-4">2.6"</td><td class="column-5">240</td><td class="column-6">N/A</td>
</tr>
<tr class="row-96 even">
    <td class="column-1">Nokia N900</td><td class="column-2">Naemo</td><td class="column-3">267dpi</td><td class="column-4">3.5"</td><td class="column-5">480</td><td class="column-6">800</td>
</tr>
<tr class="row-97 odd">
    <td class="column-1">Panasonic Toughpad A1</td><td class="column-2">Android</td><td class="column-3">127dpi</td><td class="column-4">10.1"</td><td class="column-5">768</td><td class="column-6">1024</td>
</tr>
<tr class="row-98 even">
    <td class="column-1">Samsung Galaxy Ace</td><td class="column-2">Android</td><td class="column-3">165dpi</td><td class="column-4">3.5"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-99 odd">
    <td class="column-1">Samsung Galaxy Ace 2</td><td class="column-2">Android</td><td class="column-3">246dpi</td><td class="column-4">3.8"</td><td class="column-5">320</td><td class="column-6">533</td>
</tr>
<tr class="row-100 even">
    <td class="column-1">Samsung Galaxy Grand</td><td class="column-2">Android</td><td class="column-3">187dpi</td><td class="column-4">5"</td><td class="column-5">480</td><td class="column-6">800</td>
</tr>
<tr class="row-101 odd">
    <td class="column-1">Samsung Galaxy Note</td><td class="column-2">Android</td><td class="column-3">285dpi</td><td class="column-4">5.3"</td><td class="column-5">400</td><td class="column-6">640</td>
</tr>
<tr class="row-102 even">
    <td class="column-1">Samsung Galaxy Note 2</td><td class="column-2">Android</td><td class="column-3">267dpi</td><td class="column-4">5.5"</td><td class="column-5">360</td><td class="column-6">640</td>
</tr>
<tr class="row-103 odd">
    <td class="column-1">Samsung Galaxy Note 10.1</td><td class="column-2">Android</td><td class="column-3">149dpi</td><td class="column-4">10.1"</td><td class="column-5">800</td><td class="column-6">1280</td>
</tr>
<tr class="row-104 even">
    <td class="column-1">Samsung Galaxy S2</td><td class="column-2">Android</td><td class="column-3">217dpi</td><td class="column-4">4.3"</td><td class="column-5">320</td><td class="column-6">533</td>
</tr>
<tr class="row-105 odd">
    <td class="column-1">Samsung Galaxy S3</td><td class="column-2">Android</td><td class="column-3">306dpi</td><td class="column-4">4.8"</td><td class="column-5">360</td><td class="column-6">640</td>
</tr>
<tr class="row-106 even">
    <td class="column-1">Samsung Galaxy S3 Mini</td><td class="column-2">Android</td><td class="column-3">233dpi</td><td class="column-4">4"</td><td class="column-5">360</td><td class="column-6">640</td>
</tr>
<tr class="row-107 odd">
    <td class="column-1">Samsung Galaxy S4</td><td class="column-2">Android</td><td class="column-3">441dpi</td><td class="column-4">5"</td><td class="column-5">360</td><td class="column-6">640</td>
</tr>
<tr class="row-108 even">
    <td class="column-1">Samsung Galaxy S4 Mini</td><td class="column-2">Android</td><td class="column-3">256dpi</td><td class="column-4">4.3"</td><td class="column-5">360</td><td class="column-6">640</td>
</tr>
<tr class="row-109 odd">
    <td class="column-1">Samsung Galaxy Tab 2 7.0</td><td class="column-2">Android</td><td class="column-3">170dpi</td><td class="column-4">7"</td><td class="column-5">600</td><td class="column-6">1024</td>
</tr>
<tr class="row-110 even">
    <td class="column-1">Samsung Galaxy Tab 7</td><td class="column-2">Android</td><td class="column-3">170dpi</td><td class="column-4">7"</td><td class="column-5">600</td><td class="column-6">1024</td>
</tr>
<tr class="row-111 odd">
    <td class="column-1">Samsung Galaxy Tab 8.9</td><td class="column-2">Android</td><td class="column-3">170dpi</td><td class="column-4">8.9"</td><td class="column-5">800</td><td class="column-6">1280</td>
</tr>
<tr class="row-112 even">
    <td class="column-1">Samsung Galaxy Tab 10.1</td><td class="column-2">Android</td><td class="column-3">149dpi</td><td class="column-4">10.1"</td><td class="column-5">800</td><td class="column-6">1280</td>
</tr>
<tr class="row-113 odd">
    <td class="column-1">Samsung Galaxy Tab 10.1</td><td class="column-2">Android</td><td class="column-3">149dpi</td><td class="column-4">10.1"</td><td class="column-5">800</td><td class="column-6">1280</td>
</tr>
<tr class="row-114 even">
    <td class="column-1">Sony Xperia E Dual</td><td class="column-2">Android</td><td class="column-3">164dpi</td><td class="column-4">3.5"</td><td class="column-5">320</td><td class="column-6">480</td>
</tr>
<tr class="row-115 odd">
    <td class="column-1">Tesco Hudl</td><td class="column-2">Android</td><td class="column-3">242dpi</td><td class="column-4">7"</td><td class="column-5">600</td><td class="column-6">799</td>
</tr>
<tr class="row-116 even">
    <td class="column-1">Windows Surface Pro</td><td class="column-2">Windows 8</td><td class="column-3">207dpi</td><td class="column-4">10.6"</td><td class="column-5">1080</td><td class="column-6">1920</td>
</tr>
</tbody>
</table>
</body>
</html>