<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../../js/lib/config.js"></script>
    <script>
        g.initDemo();
    </script>
</head>
<body>
<script type="text/html" id='test1'>

    -webkit-overflow-scrolling: touch; ios原生滚动
    body {  -webkit-touch-callout: none; } //假如用户长按a标签，都会出现默认的弹出菜单事件,禁止原生弹出菜单
    document.documentElement.style.webkitTouchCallout = 'none'; //也可以绑定到局部

    body { -webkit-user-select: none; }   //禁止用户选中
    document.documentElement.style.webkitUserSelect  = 'none';

    禁止ios弹出各种操作窗口      -webkit-touch-callout:none

    e{-webkit-tap-highlight-color:rgba(0,0,0,0);} //Android上的超链接焦点框都很恶心

    消除transition闪屏 两个方法
    -webkit-transform-style: preserve-3d;
    /*设置内嵌的元素在 3D 空间如何呈现：保留 3D*/
    -webkit-backface-visibility:?hidden;
    /*（设置进行转换的元素的背面在面对用户时是否可见：隐藏）*/

    消除ie10里面的那个叉号
    http://msdn.microsoft.com/en-us/library/windows/apps/hh767361.aspx
    input:-ms-clear{display:none;}

    关于ios与os端字体的优化(横竖屏会出现字体加粗不一致等)
    ios浏览器横屏时会重置字体大小，设置 text-size-adjust 为 none 可以解决ios上的问题，但桌面版safari的字体缩放功能会失效，因此最佳方案是将 text-size-adjust 为 100% 。
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;

    js事件
    click 事件普遍 300ms 的延迟 在手机上绑定click 事件，会使得操作有300ms 的延迟，体验并不是很好。
    开发者大多数会使用封装的 tap 事件来代替click 事件，所谓的 tap 事件由 touchstart 事件 + touchmove 判断 + touchend 事件封装组成
    Now some mobile browsers eliminate 300 ms click delay if you set the viewport. You dont need to use workarounds anymore.
    <meta name="viewport" content="width=device-width, user-scalable=no">

    https://developers.google.com/mobile/articles/fast_buttons?hl=de-DE
    http://stackoverflow.com/questions/12238587/eliminate-300ms-delay-on-click-events-in-mobile-safari
    使用css3动画的时尽量利用3D加速，从而使得动画变得流畅。动画过程中的动画闪白可以通过backface-visibility 隐藏。
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;


    ie10的特殊鼠标事件
    http://www.mansonchor.com/blog/blog_detail_73.html

    https://gist.github.com/kylebarrow/1042026
    Prevent links in standalone web apps opening Mobile Safari

    使用css3动画的时尽量利用3D加速，从而使得动画变得流畅。动画过程中的动画闪白可以通过backface-visibility 隐藏。
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: flat | preserve-3d
    flat:所有子元素在 2D 平面呈现;  preserve-3d:保留3D空间

    拿到滚动条
    window.scrollY
    window.scrollX

    而如果中间的code需要处理的东西多的话，fps就会下降影响程序顺滑度，而如果改成这样
    $('div').on('touchmove', function(){
        setTimeout(function(){
            //.….code
        },0);
    });
    把代码放在setTimeout中，会发现程序变快.


    JS动态生成的select下拉菜单在Android2.x版本的默认浏览器里不起作用
    解决方法删除了overflow-x:hidden; 然后在JS生成下来菜单之后focus聚焦，这两步操作之后解决了问题。(来自岛都-小Qi)
    参考http://stackoverflow.com/questions/4697908/html-select-control-disabled-in-android-webview-in-emulator

    //防止touchstart - > touchend -> click 事件穿透
    content.addEventListener("touchstart", function(e){
        e.preventDefault();
        content.style.background = "#0F0";
    })
</script>

<script type="text/html" id='test2'>
    Android web视图,至少在HTC EVO和三星的Galaxy Nexus中，文本输入框在输入时表现的就像占位符。情况为一个类似水印的东西在用户输入区域，一旦用户开始输入便会消失(见图片)。 在android的默认样式下当输入框获得焦点后,若存在一个绝对定位或者fixed的元素，布局会被破坏,其他元素与系统输入字段会发生重叠(如搜索图标将消失为搜索字段),可以观察到布局与原始输入字段有偏差(见截图)。 这是一个相当复杂的问题，以下简单布局可以重现这个问题:
    <label for="phone">Phone: *</label>
    <input type="tel" name="phone" id="phone" minlength="10" maxlength="10" inputmode="latin digits" required="required" />
    解决方法
    -webkit-user-modify: read-write-plaintext-only

</script>

<script>
    Demo.writeExample([
        {
            name:'test1',
            html:$('#test1').html(),
        },
        {
            name:'input ard hack',
            html:$('#test2').html(),
            demoPage:'demo/demo-input-hack.html'
        }
    ]);

</script>

</body>
</html>