<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../../js/lib/config.js"></script>
    <script>
        g.initDemo();
    </script>
</head>
<body>
<script type="text/javascript" id='test1'>

    git.io/normalize  //normalize.css




    http://iscrolljs.com/
    http://code.baidu.com/        //TOUCH.JS
</script>


<script>
    Demo.writeExample([
        {
            name:'一些开源框架',
            html:$('#test1').html(),
        }
    ]);

</script>

</body>
</html>