<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        div{
            border:1px solid red;
        }
        .c{
            height:     50px;
            line-height:50px;
        }
        .a{
            display:       inline-block;
            width:         50px;
            height:        30px;
            vertical-align:middle;
        }
    </style>
</head>
<body>
<div class="c">
    <span>这里是文本</span>

    <div class="a"></div>
    <span>这里是文本</span>
</div>
</body>
</html>