<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="demo-left-right.css">
    <style type="text/css"></style>
</head>
<body>

<div class="line fn_wrap">
    <h1>阿迪达斯男女两栖鞋透气网面涉水溯溪鞋Q21027 Q21026 G46723 黑阿迪达斯男女两栖鞋透气网面涉水溯溪鞋Q21027 Q21026 G46723 黑色V22796 38.5色V22796 38.5</h1>
</div>

<div class="line line1">
    <span class="tit">京东价：</span>
    <span class="price">¥258.00</span>
    <span class="old_price">¥480.00</span>
    <span class="row_right"><span class="saleno">销量：<b>3</b>件</span><span class="saleno">销量2：<b>3</b>件</span></span>
</div>

<div class="line line2">
   <div class="to">送至：</div>
    <div class="mid">
        <div class="addr">北京</div>
        <div class="time">有货，下单后立即发货</div>
    </div>
</div>

</body>
</html>