<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../../js/lib/config.js"></script>
    <script>
        g.initDemo();
    </script>
</head>
<body>
<script type="text/javascript" id='test1'>

</script>


<script>
    Demo.writeExample([
        {
            name:'_city',
            demoPage:'_city.txt'
        },{
            name:'chengyu',
            demoPage:'chengyu.txt'
        },{
            name:'words',
            demoPage:'words.txt'
        },
    ]);

</script>

</body>
</html>