<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../../js/lib/config.js"></script>
    <script>
        g.initDemo();
    </script>
</head>
<body>
<script type="text/javascript" id='test1'>
    DOMContentLoaded

    //Trigger Custom
    if (window.CustomEvent) {
        var event = new CustomEvent('my-event', {detail: {some: 'data'}});
    } else {
        var event = document.createEvent('CustomEvent');
        event.initCustomEvent('my-event', true, true, {some: 'data'});
    }
    el.dispatchEvent(event);

    //Trigger Native
    // For a full list of event types: https://developer.mozilla.org/en-US/docs/Web/API/document.createEvent
    event = document.createEvent('HTMLEvents');
    event.initEvent('change', true, false);
//    event.initEvent(type, bubbles, cancelable);
    el.dispatchEvent(event);

</script>


<script>
    Demo.writeExample([
        {
            name:'test1',
            html:$('#test1').html(),
            demoPage:'demo1.html'
        }
    ]);

</script>

</body>
</html>